<%= provide(:title, "Add Book") %>

<h1>Add a Book</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>

    <%= render 'layouts/shared/error_messages', user: @book%>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :author %>
      <%= f.text_field :author, class: 'form-control' %>



      <%= f.submit "Create Book", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
