<%= provide(:title, "#{@book.title}") %>

<h1>Book Show Page</h1>



<h3><%= @book.title %> By: <%= @book.author %></h3>
<h3> Genre: <%= @book.genre.name %></h3>


<br>
<br>
<%= render 'layouts/shared/links' %>
