<%= provide(:title, "#{@book.title}") %>

<h1><%= @book.title %></h1>

<h3><%= @book.title %> By: <%= @book.author_first %> <%= @book.author_last %></h3>
<h3> Genre: <%= @book.genre.name %></h3>
<h3> Reviews: </h3>
<% @book.reviews.each do |br| %>
<ul>
  <li><%= br.content %></li>
</ul>

<% end %>

<br>
