<%= provide(:title, "#{@review.book.title}") %>

<h3><%= @review.book.title %> By: <%= @review.book.author_last %></h3>
<h4>Review By: <%= @review.user.name %></h4>
<p><%= @review.content %></p>

<br>
<br>
<%= render 'layouts/shared/links' %>
